.sp-easy-accordion {
	@apply mb-6;

	.ea-body {
		color: theme('colors.navy') !important;
	}

	.sp-ea-single {
		border: 1px solid theme('colors.gray.400');
		@apply rounded;
	}

	h3.ea-header {
		border: none !important;
		@apply p-0;

		a {
			@apply bg-gray-300;
			color: theme('colors.navy') !important;
			@apply rounded;
			border: none !important;
			font-weight: normal !important;
			font-size: 16px !important;
			padding: 15px !important;
		}
	}
}
