.gform_fields {
	li.gfield {
		margin-bottom: 24px !important;
	}
	label {

	}
	input[type=text], input[type=password], input[type=email], select, textarea {
		margin-bottom: 6px;
	}
	.gfield_radio {

		li {
			display: flex;
			align-items: center;

			padding: 0 2px;

			input {
				display: block;
				margin: 0 5px 0 1px !important;
			}

			label {
				display: block;
				line-height: 1;
				margin-bottom: 0;
			}
		}
	}
}
