.rcp_form {
	@extend %form;
}

.rcp-button {
	@extend %button;
	@apply bg-blue;
	cursor: pointer;
}

.rcp_login_data {
	p:nth-child(3) {
		display: flex;
		align-items: center;

		label {
			@apply mb-0;
			@apply leading-none;
			margin-bottom: -2px;
		}

		input[type=checkbox] {
			@apply m-0;
			@apply mr-3;
			@apply my-6;
			float: none;
		}
	}
}

.rcp_lost_password {
	@apply hidden;
}
