.c-mobile-menu {
	@apply hidden;
	@apply mb-0;

	li {
		@apply block;
		a {
			@apply block;
			@apply text-center;
			@apply px-6;
			@apply py-3;
		}
	}

	li:nth-child(odd) {
		a {
			@apply bg-gray-200;
		}
	}
}
