.projects-carousel {
	@apply overflow-x-scroll;

	&::-webkit-scrollbar {
	    height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0.25);
		@apply rounded-full;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-green;
		@apply rounded-full;
	}
}

.projects-carousel__wrap {
	@extend %grid;
    grid-template-columns: repeat(7, 370px);
}

.projects-carousel__card:last-child {
	padding-right: 30px;
}
