%button {
	text-decoration: none !important;
	@apply inline-block;
	@apply font-bold;
	@apply mb-6;
	@apply leading-none;
	@apply rounded-full;
	@apply px-8;
	@apply py-4;
	@apply text-xs;
	@apply text-white;
	@apply uppercase;
}

.button--blue {
	@extend %button;
	@apply bg-blue;
}

.button--blue-b {
	@extend %button;
	@apply border;
	@apply border-blue;
	@apply text-blue;

	&:hover {
		@apply bg-blue;
		@apply text-white;
	}
}

.button--green {
	@extend %button;
	@apply bg-green;
}

.button--green-b {
	@extend %button;
	@apply border;
	@apply border-green;
	@apply text-green;

	&:hover {
		@apply bg-green;
		@apply text-white;
	}
}

.button--white {
	@extend %button;
	@apply bg-white;
}

.button--white-b {
	@extend %button;
	@apply border;
	@apply border-white;
	@apply text-white;

	&:hover {
		@apply bg-white;
	}
}

.submenu {
	li {
		a {
			@apply text-sm;
			@apply uppercase;
			@apply px-4;
			@apply font-bold;
			@apply py-3;
			@apply block;
			@apply mb-2;
		}

		&:first-child a {
			@apply bg-navy;
			@apply text-white;
		}
		&:not(:first-child) a {
			@apply text-blue;
			@apply border;
			@apply border-blue;;

			&:hover {
				@apply bg-blue;
				@apply text-white;
			}
		}
	}
	li.current_page_item a {
		@apply bg-blue;
		@apply text-white;
	}
}

.svg-logo svg {
	width: 225px;
}
