%form {
	label {
		@apply text-sm;
		@apply mb-2;
	}
	input[type=text], input[type=password], input[type=email], select, textarea {
		@apply bg-gray-200;
		@apply p-3;
		@apply mb-6;
		@apply rounded;
		@apply w-full;

		&:focus {
			outline: none;
		}

		@screen md {
			@apply w-1/2;
		}
	}

	fieldset {
		margin-top: 10px !important;
		margin-bottom: 40px !important;
		legend {
			@apply mb-6;
			@apply font-bold;
			@apply text-xl;
		}
	}

	button[type=submit], input[type=submit] {
		@extend %button;
		@apply bg-blue;
		cursor: pointer;
	}
}

form {
	@extend %form;
}

.category-select {
	select {
		@apply bg-gray-300;
		@apply text-navy;
		@apply block;
		@apply text-base;
		@apply rounded;
		@apply py-4;
		@apply px-4;
	    width: 100%;
	    max-width: 100%;
	    box-sizing: border-box;
	    margin: 0;
		cursor: pointer;
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	    background-repeat: no-repeat, repeat;
	    background-position: right 1em top 50%, 0 0;
	    background-size: .65em auto, 100%;
	}
	select::-ms-expand {
	    display: none;
	}
	select:focus {
	    outline: none;
	}
}
