.container {
    @apply px-4;
    max-width: 1200px;
}

%grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

}

.grid-2 {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-3 {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-4 {
    @extend %grid;

    @screen md {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-4-all {
    @extend %grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
    @extend %grid;

    grid-template-columns: repeat(2, 1fr);

    @screen md {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-sidebar {
    @extend %grid;

    @screen md {
        grid-template-columns: 5fr 2fr;
    }
}
